@font-face {
    font-family: 'Diogenes';
    src: url(../resources/Anton-Regular.ttf);
}

body {
    background: #f9ff9c;
    overflow-x: hidden;
}

#content {
    display: grid;
    grid-template-columns: 9em 1fr;
}

#header {
    height: 6.8em;
    border-bottom: 2px solid black;
    text-align: center;
    background: #fdd97d;
}

#book-img {
    display: inline-block;
    width: 7em;
    height: 5em;
    margin: 0.6em;
}

#title-text {
    position: relative;
    bottom: 0.2em;
    display: inline-block;
    font-size: 4.5rem;
    font-family: 'Diogenes', sans-serif;
    color: black;
}

#categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 2px solid black;
    background: #fdd97d;
    width: 7em;
}

#firstOp, #secondOp, #thirdOp {
    width: 5.8em;
    font-family: 'Diogenes', sans-serif;
    text-align: center;
    margin: 1em 0.5em 1em 0.5em;
    border-bottom: 2px solid black;
    height: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    user-select: none;
}

#categories li:hover {
    color: maroon;
    cursor: pointer;
}

#addBookBtn {
    position: fixed;
    top: 85%;
    left: 93.5%;
    height: 42px;
    width: 42px;
}

#addBookBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.addBookUI {
    animation-name: fade;
    animation-duration: 1.5s;
    background: #fdd97d;
    color: black;
    border-radius: 10px;
    position: fixed;
    display: none;
    bottom: 12%;
    right: 50%;
    left: 35%;
    height: 425px;
    width: 370px;
    border: 2px solid #bd6203;
    box-shadow: 0 0 15px 5px #b77f00;
    flex-direction: column;
    padding: 1em;
    font-size: 24px;
    font-family: 'Diogenes', sans-serif;
}

.addInput {
    width: 17.5em;
    font-size: 20px;
    margin: 0.35em 0.3em 1em 0;
    font-family: inherit;
    padding: 5px;
    color: inherit;
    outline-color: black;
}

#have-read {
    width: 18.2em;
}

#UIBtn {
    width: 7em;
    align-self: flex-end;
    font-size: 20px;
    font-family: inherit;
    margin-right: 7px;
    margin-top: 7px;
    color: inherit;
}

#UIBtn:hover {
    opacity: 0.9;
    background: gold;
    border-color: goldenrod;
}

.toBlurEffect {
    filter: opacity(0.5) blur(2px);
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
}

#book-space {
    min-height: 100vh;
    margin: 0.5em 0.5em 0.5em 2em;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 1em;
}

.addCard {
    font-family: 'Diogenes', sans-serif;
    padding: 1em;
    width: 45%;
    min-height: 120px;
    background: #d6b364;
    margin-bottom: 1em;
}

.bottomCont {
    margin-top: 2px;
    margin-left: auto;
    width: 7em;
    height: 1.5em;
    padding-top: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.toggleBg {
    width: 3em;
    height: 1.1em;
    background: #fff1ad;
    border-radius: 10px;
    padding-bottom: 2px;
    margin: 0 5px;
}

.toggleCircle {
    border: 1px solid black;
    border-radius: 10px;
    height: 1.1em;
    width: 1.5em;
    background: black;
}

.toggleBg:hover, .toggleCircle:hover {
    cursor: pointer;
}

.deleteBtn {
    background: #fff1ad;
    width: 2.3em;
    height: 1.2em;
    border-radius: 10px;
    text-align: center;
    user-select: text;
}

.deleteBtn:hover {
    background: maroon;
    cursor: pointer;
    color: white;
}