@font-face {
    font-family: 'Diogenes';
    src: url(../resources/DIOGENES.ttf);
}

body {
    background: #f5cfaa;
    overflow-x: hidden;
}

#content {
    display: grid;
    grid-template-columns: 9em 1fr;
}

#header {
    height: 6.8em;
    border-bottom: 2px solid maroon;
    text-align: center;
}

#book-img {
    display: inline-block;
    width: 8em;
    height: 6em;
    margin: 0.4em;
}

#title-text {
    position: relative;
    bottom: 0.45em;
    display: inline-block;
    font-size: 4rem;
    font-family: 'Diogenes', sans-serif;
    color: brown;
}

#categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 2px solid maroon;
    background: burlywood;
    width: 7em;
}

#firstOp, #secondOp, #thirdOp {
    width: 5.8em;
    font-family: 'Diogenes', sans-serif;
    text-align: center;
    margin: 1em 0.5em 1em 0.5em;
    border-bottom: 2px solid maroon;
    height: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    user-select: none;
}

#book-space {
    min-height: 100vh;
    margin-left: 1.8em;
}

#categories li:hover {
    color: maroon;
    cursor: pointer;
}

#extra-space {
    border-bottom: 2px solid maroon;
    margin-top: 0;
    pointer-events: none;
    height: 1.6em;
    width: 7em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#top-cont {
    background: burlywood;
    border-bottom: 2px solid maroon;
    height: 3em;
    width: 100%;
    margin-left: 1.3em;
}

#addBookBtn {
    position: fixed;
    top: 32em;
    left: 75em;
    height: 42px;
    width: 42px;
}

#addBookBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.addBookUI {
    animation-name: fade;
    animation-duration: 1s;
    background: #fdd97d;
    color: maroon;
    border-radius: 10px;
    position: fixed;
    display: none;
    bottom: 12%;
    right: 50%;
    left: 35%;
    height: 425px;
    width: 370px;
    border: 2px solid #bd6203;
    box-shadow: 0 0 15px 5px #b77f00;
    flex-direction: column;
    padding: 1em;
    font-size: 24px;
    font-family: 'Diogenes', sans-serif;
}

.addInput {
    width: 17.5em;
    font-size: 20px;
    margin: 0.35em 0.3em 1em 0;
    font-family: inherit;
    padding: 5px;
    color: inherit;
    outline-color: maroon;
}

#have-read {
    width: 18.2em;
}

#UIBtn {
    width: 7em;
    align-self: flex-end;
    font-size: 20px;
    font-family: inherit;
    margin-right: 7px;
    margin-top: 7px;
    color: inherit;
}

#UIBtn:hover {
    opacity: 0.9;
    background: gold;
    border-color: goldenrod;
}

.toBlurEffect {
    filter: opacity(0.5) blur(1px);
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
}